<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)" style="  background-image: linear-gradient(90deg, #536976, #292E49);
      ">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="create=true; dash=false; table=false; " >
        <i class="material-icons">create</i>
        <h4>Create Test</h4>
      </a>
      <a mat-list-item (click)="create=false; dash=true; table=false; ">
        <i class="material-icons">assessment</i>
        <h4>Analyse Data</h4>
      </a>
      <a mat-list-item (click)="create=false; dash=false; table=true;" >
        <i class="material-icons">assignment</i>
        <h4>Visualise Raw Data</h4>
      </a>
      <a mat-list-item href="forms">
          <i class="material-icons">history</i>
          <h4>Measures History</h4>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="topnav" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>IoTPlatform</span>
    </mat-toolbar>
    <app-create-measure *ngIf="create"></app-create-measure>
     <app-dashboard *ngIf="dash"></app-dashboard>
    <app-data-table *ngIf="table"></app-data-table>
  </mat-sidenav-content>
</mat-sidenav-container>
