<div class="example-container">
    <mat-form-field>
      
      <input matInput type="string" [(ngModel)]="startDate" placeholder="Measure Identifier">
    </mat-form-field>

    <mat-form-field>
      
        <input matInput type="string" [(ngModel)]="startDate" placeholder="Start Date">
      </mat-form-field>

    <mat-form-field>
      <input matInput type="string" [(ngModel)]="endDate" placeholder="End Date" >
    </mat-form-field>
  
  
  </div>

  <div class="example-container">

      <mat-form-field class="example-full-width">
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
      <mat-form-field>
        
          <input matInput type="string" [(ngModel)]="startDate" placeholder="Measure Identifier">
        </mat-form-field>
        
      <mat-form-field>
        <input matInput type="string" [(ngModel)]="endDate" placeholder="EndDate" >
      </mat-form-field>
    
    
    </div>
  
  <button class="submitbutton" mat-raised-button (click)="sendData()">Send</button>