
<h1 class="submitbutton">Create Measurement</h1>
<br>

<section class="example-section">
  <mat-progress-bar
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue">
  </mat-progress-bar>
</section>

<br><br><br>

<div class="example-container">

  <h3>No Acknowledge :</h3>

    <mat-form-field>
        <input matInput type="string" [(ngModel)]="startDate_NoAck" placeholder="Start Date ex:2019-04-18T10:57">
      </mat-form-field>

    <mat-form-field>
      <input matInput type="string" [(ngModel)]="endDate_NoAck" placeholder="End Date ex:2019-04-18T10:59:00" >
    </mat-form-field>
  
  
  </div>
  

  <div class="example-container">

      <h3>Acknowledge :</h3>
    
        <mat-form-field>
            <input matInput type="string" [(ngModel)]="startDate_Ack" placeholder="Start Date ex:2019-04-18T10:57">
          </mat-form-field>
    
        <mat-form-field>
          <input matInput type="string" [(ngModel)]="endDate_Ack" placeholder="End Date ex:2019-04-18T10:59:00" >
        </mat-form-field>
      
      
      </div>

      <div class="example-container">

          <h3>Redundancy :</h3>
        
            <mat-form-field>
                <input matInput type="string" [(ngModel)]="startDate_Red" placeholder="Start Date ex:2019-04-18T10:57">
              </mat-form-field>
        
            <mat-form-field>
              <input matInput type="string" [(ngModel)]="endDate_Red" placeholder="End Date ex:2019-04-18T10:59:00" >
            </mat-form-field>
          
          
          </div>

    <br>

    <button class="centerbutton" mat-raised-button (click)="cereateMeasure()">Send</button>
    <br><br><br>
    <div class ="example-container-card">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Sans Acquitement</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                  Transmission basique dʼun message LoRaWAN utilisant un
                  seul Spreading Factor (SF), une seule fréquence et sans recevoir un message
                  dʼacquittement. Jamming sur ces SF et frequencies.
              </p>

              <div>
                  <ul>
                    <li>a</li>
                    <li>b</li>
                  </ul>
                </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Acknowledge</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                    Transmission dʼun message LoRaWAN contenant le nombre
                    de retransmission de messages pour la Tx précédente. Cette Tx utilise un seul
                    Spreading Factor (SF), une seule fréquence et recoit un message
                    dʼacquittement sur une fréquence différente de celle de la transmission.
                </p>
              </mat-card-content>
            </mat-card>


            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Redundancy</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      Transmission dʼun message LoRaWAN 3 fois consecutive
                      sans acquittement. Cette Tx utilise un seul Spreading Factor (SF), une seule
                      fréquence.
                      -Number 
                  </p>
                </mat-card-content>
              </mat-card>
    </div>
