<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <!-- <a mat-menu-item href="barchart" *ngIf="card.num==1" >Expand</a> -->
              <a mat-menu-item href="radar" *ngIf="card.num==4" >Expand</a>
              <a mat-menu-item href="linechart" *ngIf="card.num==5" >Expand</a>
              <!-- <button mat-menu-item>Remove</button> -->
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <app-barchart *ngIf="card.num==2" [numberMeasure] = "1"></app-barchart>
            <app-barchart *ngIf="card.num==1" [numberMeasure] = "2"></app-barchart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<button mat-raised-button (click)="save()" class="centered">Save Measure</button>
<br><br>
